*,*::after,*::before{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --gradient-white-purple: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(232,234,246,1) 100%);
  --gradient-white-purple2: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(232,234,246,1) 75%);
  --gradient-white-purple3: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(232,234,246,1) 55%);
  --color-orange: rgba(254,159,39,1);
  --color-white:rgba(255,255,255,1);
  --color-navy-blue: rgba(24,35,112,1);
  --color-blue:rgba(40,77,248,1);
  --color-blue-or-not-blue:rgba(96,112,187,1);
  --color-light-blue:rgba(179,218,249,1);
  --color-dark-blue:rgba(29,128,221,1);
  --color-light-green:rgba(193,226,195,1);
  --color-dark-green:rgba(62,149,69,1);
  --color-light-yellow:rgba(255,247,192,1);
  --color-dark-yellow:rgba(247,156,50,1);
  --color-light-purple:rgba(220, 183, 226, 1);
  --color-dark-purple:rgba(129,39,157,1);
  --color-light-gray:rgba(220,219,220,1);
  --color-purple:rgba(232,234,246,1);
  --color-purple2:rgba(230, 231, 245, 1);
}

.banner{
  position: absolute;
  top:50%;
  left:50%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  width: 100vw;
  max-width: 1400px;
  height: 50vw;
  max-height: 600px;
  padding: 3%;

  font-family: 'Roboto', sans-serif;
  color:var(--color-navy-blue);
  background: var(--gradient-white-purple);
  overflow: hidden;
  transform: translate(-50%,-50%);
}

.banner__section{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 20px;

  width: 100%;
  height: 100%;
  z-index: 2;
}

.banner__visual-element-big{
  position: absolute;
  top:33%;
  left:-2%;
  height: 70%;
  width: 40%;
  max-width: 500px;
  border-top-left-radius: 100%;
  background:var(--gradient-white-purple2);
  z-index: 0;
}

.banner__visual-element-small{
  position: absolute;
  top:33%;
  left:40%;
  height: 25%;
  width: 40%;
  max-width: 500px;
  border-bottom-left-radius: 100%;
  background:var(--gradient-white-purple3);
}

.banner__visual-element-shadowed{
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 250px solid var(--color-purple2);
  border-top: 100px solid var(--color-purple2);
  box-shadow: 50px 0 30px 20px var(--color-purple2);
  z-index: 0;
}

.banner__title-short{
  font-size: 0.9em;
  text-transform: uppercase;
}

.banner__title-main{
  font-size: 3em;
  font-weight: 400;
}

.banner__title{
  line-height: 1.7em;
  font-weight: 500;
}

.banner__description{
  margin: 20px 0;
  color: var(--color-blue-or-not-blue);
}

.banner__btn{
  width: 80px;
  height: 40px;
  
  border: none;
  border-radius: 5px;
  color:var(--color-white);
  background-color: var(--color-orange);
  text-transform: uppercase;
}

.banner__feature{
  width: 45%;
  max-width: 300px;
  max-height: 300px;
  padding: 4%;
  margin-bottom: 20px;

  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
  background-color: var(--color-white);
  z-index: 3;
}

.banner__feature .banner__description{
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 0.9em;
}

.Capa_1{
  height: 70%;
}

.banner__feature:nth-of-type(odd){
  transform: translateY(-20px);
}

.banner__feature:nth-of-type(1) .banner__icon{
  background-color: var(--color-light-blue);
}
.banner__feature:nth-of-type(2) .banner__icon{
  background-color: var(--color-light-green);
}
.banner__feature:nth-of-type(3) .banner__icon{
  background-color: var(--color-light-yellow);
}
.banner__feature:nth-of-type(4) .banner__icon{
  background-color: var(--color-light-purple);
}

.banner__feature:nth-of-type(1) .Capa_1{
  fill: var(--color-dark-blue);
}
.banner__feature:nth-of-type(2) .Capa_1{
  fill: var(--color-dark-green);
}
.banner__feature:nth-of-type(3) .Capa_1{
  fill: var(--color-dark-yellow);
}
.banner__feature:nth-of-type(4) .Capa_1{
  fill: var(--color-dark-purple);
}

.banner__icon{
  display: grid;
  place-items: center;
  height: 3vw;
  width: 3vw;
  max-width: 38px;
  max-height: 38px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.banner--text-color-blue{
  color:var(--color-blue);
}

.banner__section--flex-row{
  flex-direction: row;
}

.banner__section--padding-right{
  padding-right: 10%;
}

.banner__description--line-height{
  line-height: 1.7em;
}

@media(max-width:1200px){
  .banner{
    grid-template-columns: 40% 60%;
    font-size: 14px;
  }

  .banner__title{
    line-height: 1.5em;
  }

  .banner__section--padding-right{
    padding-right: 6%;
  }
}

@media(max-width:1000px){
  .banner{
    font-size: 13px;
  }

  .banner__feature{
    padding: 3%;
  }

  .banner__section{
    column-gap: 10px;
  }

  .banner__title{
    line-height: 1.3em;
  }

  .banner__title-main{
    font-size: 2.5em;
  }

  .banner__feature{
    margin-bottom: 10px;
  }

  .banner__section--padding-right{
    padding-right: 3%;
  }
}

@media(max-width:805px){
  .banner{
    font-size: 12px;
  }

  .banner__feature {
    margin-bottom: 4px;
  }

  .banner__icon{
    margin-bottom: 4px;
  }
  
  .banner__feature .banner__description {
    margin-top: 4px;
  }
  
  .banner__title {
    line-height: 1.2em;
    font-size: 1.05em;
  }
  
  .banner__title-main {
    font-size: 2.2em;
  }
  
  .banner__description {
    margin: 10px 0;
  }
  
  .banner__description--line-height {
    line-height: 1.4em;
  }
  
}